<emp-ng-modal-window [config]="{width:'542px'}">

  <emp-ng-card
    [title]="title"
    hint="Proceso de exportación."
    [showCardHeaderFlat]="true"
    (cardClose)="onClose()">

    <div class="card-body-padding-with-top">

        <ng-container *ngIf="exportationTypes.length > 1">

          <div class="export-instruction-text">
            Seleccionar el tipo de exportación:
          </div>

          <mat-radio-group class="export-instruction-text"
            [(ngModel)]="selectedExportationType" [disabled]="working || hasFileUrl">
            <mat-radio-button *ngFor="let type of exportationTypes"
              [value]="type">
              {{type.name}}
            </mat-radio-button>
          </mat-radio-group>

        </ng-container>

        <div *ngIf="exportationTypes.length > 0" class="export-instruction-text">
          <span [innerHTML]="message || 'Se generará la exportación a '+ selectedExportationType.fileType +' con el último filtro consultado.'">

          </span>
        </div>

        <div *ngIf="exportationTypes.length === 0" class="export-instruction-text">
          No se han definido tipos de exportación.
        </div>


        <ng-content>

        </ng-content>


        <mat-divider class="horizontal-wide">

        </mat-divider>

        <div class="fx-row-container">

          <div class="fx-item-none">

            <button *ngIf="!working && !hasFileUrl"
              [disabled]="!isExportButtonReady"
              [class.btn]="!isExportButtonReady"
              [class.btn-action]="isExportButtonReady"
              (click)="onExportButtonClicked()">
              Exportar
            </button>

            <button *ngIf="working || hasFileUrl" class="btn"
              (click)="onClose()">
              Cancelar
            </button>

          </div>

          <div class="fx-item fx-row-container fx-end fx-items-center export-file-url">

            <a *ngIf="fileUrl" [href]="fileUrl" target="_blank">
              El archivo {{selectedExportationType.fileType}} está listo. Hacer clic para descargarlo.</a>

            <div *ngIf="working" class="export-progress-text"
              empNgProgressText
              loadingText="Generando el archivo solicitado"
              [isLoading]="working">
            </div>

          </div>

        </div>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
