<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="fx-item-none" *ngIf="canEdit">

    <div class="fx-row-container fx-items-center">

      <div class="fx-item fx-start">

        <button type="button"
          class="btn"
          (click)="onImportItemsClicked()">
          Importar productos
        </button>

      </div>

      <div class="fx-item-none fx-end">

        <button type="button"
          class="btn-action"
          (click)="onAddItemClicked()">
          Agregar producto
        </button>

      </div>

    </div>

  </div>

  <emp-trade-purchase-order-items-table  class="fx-item"
    [orderItems]="orderItems"
    [orderTotals]="orderTotals"
    [canEdit]="canEdit"
    (purchaseOrderItemsTableEvent)="onPurchaseOrderItemsTableEvent($event)">

  </emp-trade-purchase-order-items-table>

</div>


<emp-trade-purchase-order-product-selector *ngIf="displayProductSelector"
  (purchaseOrderProductSelectorEvent)="onPurchaseOrderProductSelectorEvent($event)">

</emp-trade-purchase-order-product-selector>
