
<emp-ng-modal-window [config]="{width: displayInTwoColumns ? '95%' : '900px'}">

  <emp-ng-card
    title="Buscador de productos"
    hint='Busque y seleccione los productos a agregar.'
    (cardClose)="onClose()">

    <div class="card-body-padding" [style.height.vh]="85">

      <emp-trade-products-seeker
        displayFlat="true"
        [order]="orderForQuery"
        (productsSeekerEvent)="onProductsSeekerEvent($event)">

      </emp-trade-products-seeker>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
