<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Listado de {{config.text}}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *ngIf="config.canAdd"
        class="btn-action" fxFlexOffset="1.5rem"
        (click)="onCreateOrderClicked()">
        Agregar {{config.addText}}
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-trade-orders-filter class="fx-item-none"
        [orderType]="config.type"
        (ordersFilterEvent)="onOrdersFilterEvent($event)">

      </emp-trade-orders-filter>

      <emp-trade-orders-table class="fx-item"
        [orderType]="config.type"
        [ordersList]="ordersList"
        [orderSelected]="orderSelected"
        [queryExecuted]="queryExecuted"
        [isLoading]="isLoading"
        (ordersTableEvent)="onOrdersListEvent($event)">

      </emp-trade-orders-table>

    </div>

  </div>

</div>
