<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container-fill xs-fx-wrap">

      <div class="fx-item-half xs-fx-item-one">
        <label>Tipo de inventario:</label>
        <emp-ng-select
          formControlName="inventoryTypeUID"
          [items]="inventoryTypesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.inventoryTypeUID)">
        </emp-ng-select>
      </div>

      <div class="fx-item-half xs-fx-item-one">
        <label>Almacén:</label>
        <emp-ng-select
          formControlName="warehouseUID"
          [items]="warehousesList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.warehouseUID)">
        </emp-ng-select>
      </div>

    </div>

    <div class="fx-row-container-fill xs-fx-wrap">

      <div class="fx-item-half xs-fx-item-one">
        <label>Responsable:</label>
        <emp-ng-select
          formControlName="responsibleUID"
          [items]="warehousemenList"
          [loading]="isLoading"
          [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
          [showError]="formHelper.isControlInvalid(form.controls.responsibleUID)">
        </emp-ng-select>
      </div>

      <div class="fx-item-half xs-fx-item-one">
        <label>Solicitado por:</label>
          <emp-ng-select
            formControlName="requestedByUID"
            [items]="supervisorsList"
            [loading]="isLoading"
            [placeholder]="formHelper.getSimplePlaceholder(editionMode)"
            [showError]="formHelper.isControlInvalid(form.controls.requestedByUID)">
          </emp-ng-select>
      </div>

    </div>

    <div class="fx-row-container-fill xs-fx-wrap">

      <div class="fx-item xs-fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="!isSaved || hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <button *ngIf="editionMode && canDelete"
          type="button" class="btn-warning"
          (click)="onDeleteButtonClicked()">
          Eliminar
        </button>

        <button *ngIf="!editionMode && canClose"
          type="button" class="btn"
          (click)="onCloseButtonClicked()">
          Aplicar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <button *ngIf="!editionMode && (canUpdate || canDelete)"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button *ngIf="canUpdate"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
