<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary" [class.std-hide]="displayTabbedView">

    <emp-trade-orders-explorer
      [config]="purchasesConfig"
      [operationsList]="operationsList"
      [ordersData]="purchaseOrdersData"
      [selectedOrderUID]="purchaseOrderSelected?.uid ?? null"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (ordersExplorerEvent)="onOrdersExplorerEvent($event)">

      <emp-trade-purchase-orders-filter class="fx-item-none"
        [orderType]="purchasesConfig.type"
        [query]="query"
        [queryExecuted]="queryExecuted"
        (purchaseOrdersFilterEvent)="onPurchaseOrdersFilterEvent($event)">

      </emp-trade-purchase-orders-filter>

    </emp-trade-orders-explorer>

  </div>

  <div class="secondary priority" *ngIf="displayTabbedView">

    <emp-trade-purchase-order-tabbed-view
      [order]="purchaseOrderSelected"
      (purchaseOrderTabbedViewEvent)="onPurchaseOrderTabbedViewEvent($event)">

    </emp-trade-purchase-order-tabbed-view>

  </div>

</div>


<emp-trade-purchase-order-creator *ngIf="displayCreator"
  (purchaseOrderCreatorEvent)="onPurchaseOrderCreatorEvent($event)">

</emp-trade-purchase-order-creator>
