<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-row-container fx-end fx-items-center">

    <div class="fx-item fx-row-container">

      <div class="fx-item-half">

        <input type="text" class="text-box" #productInput
          formControlName="product"
          placeholder="Producto"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.product)"
          (keyup.enter)="onFocusNext(locationInput)">

      </div>

      <div class="fx-item-half">

        <input type="text" class="text-box" #locationInput
          formControlName="location"
          placeholder="Localización"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.location)"
          (keyup.enter)="onFocusNext(quantityInput.inputField)">

      </div>

    </div>

    <div class="fx-item-size" style="--size: 100px">

      <emp-ng-input-numeric #quantityInput
        formControlName="quantity"
        placeholder="Cantidad"
        [showError]="formHelper.isControlInvalid(form.controls.quantity)"
        (keyupEnter)="onFocusNext(submitButton); onAddButtonClicked()">

      </emp-ng-input-numeric>

    </div>

    <button title="Agregar registro" #submitButton
      [class.btn-icon-action]="formHelper.isFormReady(form)"
      [class.btn-icon]="!formHelper.isFormReady(form)"
      (click)="onAddButtonClicked()">

      <mat-icon> add </mat-icon>

    </button>

  </div>

</form>
