<ng-container *ngIf="hasError">

  <div class="instruction-text">
     Ocurrió un error al consultar los datos…
  </div>

</ng-container>


<ng-container *ngIf="!hasError">

  <ng-container *ngIf="isLoading">

    <div class="fx-row-container fx-space-between fx-items-center info-container">
      Cargando...
    </div>

  </ng-container>

  <ng-container *ngIf="!isLoading">

    <div *ngIf="missingItemsCount > 0"
      class="fx-row-container fx-space-between fx-items-center warning-container"
      [style.min-height.px]="46">

      Faltan {{missingItemsCount}} productos por surtir.

      <button class="btn"
        (click)="onViewStatusClicked()">
        Ver Productos
      </button>

    </div>

    <div *ngIf="totalItemsCount > 0"
      class="fx-row-container fx-space-between fx-items-center warning-container"
      [style.min-height.px]="46">

      El pedido contiene {{totalItemsCount}} productos.

      <button class="btn"
        (click)="onViewItemsClicked()">
        Ver Productos
      </button>

    </div>

    <div *ngIf="missingItemsCount === 0 && totalItemsCount === 0"
      class="fx-row-container fx-space-between fx-items-center info-container"
      [style.min-height.px]="46">

      {{packingItemsCount > 0 ? 'Se han surtido todos los productos.' : 'El pedido no tiene productos asignados.'}}

      <button class="btn"
        *ngIf="canClose"
        (click)="onSendPackingClicked()">
        Cerrar Surtido
      </button>

    </div>

  </ng-container>

</ng-container>
