<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource" class="data-centered">

    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef>No. Factura</th>
      <td mat-cell *matCellDef="let row">
        {{ row.ticketNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef class="text-align-center nowrap"> Fecha de la factura </th>
      <td mat-cell *matCellDef="let row" class="text-align-center">
        {{ row.transactionDate | dateTimeFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="creditAmount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Total del Crédito </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.creditAmount ?? 0 | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="debitAmount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Saldo </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.debitAmount ?? 0 | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef class="text-align-center nowrap"> Fecha de Vencimiento </th>
      <td mat-cell *matCellDef="let row" class="text-align-center">
        {{ row.dueDate | dateTimeFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="daysToPay">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Días para pagar </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.daysToPay | number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        El cliente no tiene adeudos pendientes...
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="hasItems"></tr>

  </table>

</div>
