<div class="outer" [ngClass]="appLayout.layout.displayLoginRight ? 'outer-right' : 'outer-left'">

  <div class="authentication-container">

      <div class="authentication-center">

        <div class="authentication-section-logo">
          <img class="logo" src="assets/img/customer/vertical.logo.png" [alt]="appLayout.data.organization"/>
        </div>


        <ng-container [ngSwitch]="currentAuthenticationMode">


          <ng-container *ngSwitchCase="AuthenticationModes.Login">

            <div class="authentication-section-welcome">
              <strong>{{appLayout.data.name}}</strong>
              <div class="hint">{{appLayout.data.hint}}</div>
              <div class="hint-bold" *ngIf="appLayout.data.organization">{{appLayout.data.organization}}</div>
            </div>

            <div class="authentication-section-form">

              <emp-ng-login
                (loginEvent)="onLoginEvent()">

              </emp-ng-login>

            </div>

          </ng-container>


          <ng-container *ngSwitchCase="AuthenticationModes.ChangePassword">

            <div class="authentication-section-instruction">
              <div class="bold-text">Cambio de contraseña requerido</div>
              <div class="hint">Ingrese la información requerida para actualizar la contraseña.</div>
            </div>

            <div class="authentication-section-form">

              <emp-ng-change-password
                [isRequiredAction]="true"
                (changePasswordEvent)="onChangePasswordEvent()">

              </emp-ng-change-password>

            </div>

          </ng-container>


        </ng-container>

      </div>

  </div>

</div>
