<div [style.height.%]="100" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading">

  </emp-ng-spinner>

  <emp-ng-security-item-edition
    [itemsAssignedList]="subjectRolesList"
    [canEdit]="canEdit"
    [itemsForSelectorList]="subjectContextsList"
    [selectorRequired]="true"
    [queryExcecuted]="isExcecuted"
    [itemsToAssignList]="rolesList"
    [submitted]="submitted"
    itemTypeName="Rol"
    (securityItemEditionEvent)="onSubjectRolesEditionEvent($event)">

  </emp-ng-security-item-edition>

</div>
