<div class="main-layout">

  <emp-ng-spinner [service]="spinnerService" overlay='FullScreen'>

  </emp-ng-spinner>

  <div class="top-bar">

  </div>

  <mat-sidenav-container>


    <mat-sidenav #sidenavLeft class="sidenav-left" mode="side" disableClose="true"
      [opened]="appLayoutConfig.displayAsideLeft">

    </mat-sidenav>


    <mat-sidenav-content #sidenavContent class="content">

      <div class="fx-column-container-fill">

        <emp-ng-nav-bar>

        </emp-ng-nav-bar>

        <emp-ng-header (action)="onAction($event)">

        </emp-ng-header>

        <div class="workarea">

          <router-outlet>

          </router-outlet>

        </div>

        <emp-ng-footer *ngIf="appLayoutConfig.displayFooter">

        </emp-ng-footer>

      </div>

    </mat-sidenav-content>


    <mat-sidenav #sidenavRight class="sidenav-right" mode="over" position="end" disableClose="true"
      [(opened)]="displayAsideRight">

      <button class="toolbar-item btn-collapse-sidenav-right"
        title="Cerrar herramienta"
        (click)="onCloseAsideRight()">
        <mat-icon>last_page</mat-icon>
      </button>

      <container-element [ngSwitch]="toolSelected" #tools_section>

        <emp-ng-search-tool *ngSwitchCase="'Search'">

        </emp-ng-search-tool>

      </container-element>

    </mat-sidenav>

  </mat-sidenav-container>

</div>
