<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onClose()" >

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Información">

      <emp-trade-money-account-editor
        [moneyAccount]="moneyAccount"
        (moneyAccountEditorEvent)="onMoneyAccountEditorEvent($event)">

      </emp-trade-money-account-editor>

    </mat-tab>

    <mat-tab label="Transacciones">

      <ng-template matTabContent>

        <emp-trade-money-account-transactions-edition
          [moneyAccountUID]="moneyAccount.uid"
          [transactions]="moneyAccount.transactions"
          [canEdit]="moneyAccount.actions.canEditTransactions"
          (moneyAccountTransactionsEditionEvent)="onMoneyAccountTransactionsEditionEvent($event)">

        </emp-trade-money-account-transactions-edition>

      </ng-template>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
