<cdk-virtual-scroll-viewport tvsItemSize="32">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="shippingDate">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let row">
        {{!!row.shippingDate ? (row.shippingDate | dateTimeFormat) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="parcelSupplier">
      <th mat-header-cell *matHeaderCellDef> Paquetería </th>
      <td mat-cell *matCellDef="let row">
        {{ row.parcelSupplier.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="shippingGuide">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Número de guía </th>
      <td mat-cell *matCellDef="let row">
        <a class="item-link"
          (click)="onShippingClicked(row)">
          {{ row.shippingGuide }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estatus </th>
      <td mat-cell *matCellDef="let row">
        <span class="tag">
          {{ row.status ? 'Abierto' : 'Cerrado' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ordersCount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> No. pedidos </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.ordersCount ?? 0 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPackages">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Paquetes </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.totalPackages ?? 0 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalWeight">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Peso </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.totalWeight ?? 0 | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalVolume">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Volumen </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.totalVolume ?? 0 | empDecimal }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.row-selected]="row.shippingUID === shippingSelected.shippingUID"></tr>

  </table>

  <div *ngIf="!queryExecuted" class="text-not-found">
    {{isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'}}
  </div>

  <div *ngIf="queryExecuted && shippingList.length === 0" class="text-not-found">
    No se encontraron registros con el filtro proporcionado.
  </div>

</cdk-virtual-scroll-viewport>
