<cdk-virtual-scroll-viewport tvsItemSize="32">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="shippingMethod">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Forma de envío </th>
      <td mat-cell *matCellDef="let row">
        {{ row.shippingMethod?.name ?? 'N/D' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="shippingDate">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let row">
        {{!!row.shippingDate ? (row.shippingDate | empDateTimeFormat) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="shippingID">
      <th mat-header-cell *matHeaderCellDef> {{ queryTypeName }} </th>
      <td mat-cell *matCellDef="let row" class="nowrap">
        <a class="item-link"
          (click)="onShippingClicked(row)">
          {{ row.shippingID }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Cliente </th>
      <td mat-cell *matCellDef="let row">
        {{row.customer?.name ?? 'N/D'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estatus </th>
      <td mat-cell *matCellDef="let row">
        <span class="tag"
          [ngClass]="{'tag-base-info':    row.status === shippingStatus.EnCaptura ,
                      'tag-base-warning': row.status === shippingStatus.EnProceso,
                      'tag-base-success':  row.status === shippingStatus.Cerrado,
                      'tag-base-error':   row.status === shippingStatus.Rechazado}">
          {{ getShippingStatusName(row.status) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ordersCount">
      <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> No. pedidos </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.ordersCount ?? 0 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPackages">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Paquetes </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.totalPackages ?? 0 }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.row-selected]="row.shippingUID === shippingSelected.shippingUID"></tr>

  </table>

  <div *ngIf="!queryExecuted" class="text-not-found">
    {{isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'}}
  </div>

  <div *ngIf="queryExecuted && shippingList.length === 0" class="text-not-found">
    No se encontraron registros con el filtro proporcionado.
  </div>

</cdk-virtual-scroll-viewport>
