<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">


      <div class="fx-item-quarter sm-fx-item">
        <label>Forma de envío:</label>
        <emp-ng-select
          formControlName="shippingMethodUID"
          [items]="shippingMethodList">
        </emp-ng-select>
      </div>

      <div class="fx-item-quarter">
        <label>Paquetería:</label>
        <emp-ng-select
          formControlName="parcelSupplierUID"
          [config]="{clearable: true}"
          [items]="parcelSuppliersList"
          [loading]="isLoading"
          placeholder="Todas">
        </emp-ng-select>
      </div>

      <div class="fx-item-quarter">
        <label>Estatus:</label>
        <emp-ng-select
          formControlName="status"
          [config]="{clearable: true}"
          [items]="shippingStatusList"
          placeholder="Todos">
        </emp-ng-select>
      </div>

      <div class="fx-item fx-items-end sm-fx-item">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords"
            placeholder="Buscar..."
            formControlName="keywords"
            (keyup.enter)="onSearchClicked()"
            (keyup.escape)="form.controls.keywords.reset()">

        </div>

      </div>

      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="form.valid"
          [class.btn-icon]="!form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
