<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onClose()" >

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Orden">

      <emp-trade-purchase-order-editor
        [order]="order"
        (purchaseOrderEditorEvent)="onPurchaseOrderEditorEvent($event)">

      </emp-trade-purchase-order-editor>

    </mat-tab>

    <mat-tab label="Productos">

      <emp-trade-purchase-order-items-edition
        [orderUID]="order.uid"
        [orderItems]="order.items"
        [orderTotals]="order.totals"
        [canEdit]="order.actions.canEdit"
        (purchaseOrderItemsEditionEvent)="onPurchaseOrderItemsEditionEvent($event)">

      </emp-trade-purchase-order-items-edition>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
