<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onClose()" >

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Pedido" *ngIf="showOrderTab">

      <emp-trade-order-editor
        [order]="order"
        (orderEditorEvent)="onOrderEditorEvent($event)">

      </emp-trade-order-editor>

    </mat-tab>

    <mat-tab label="Crédito" *ngIf="showCreditTab">

      <emp-trade-customer-credit-view
        [customer]="order.customer"
        [customerCredit]="order.customerCredit">

      </emp-trade-customer-credit-view>

    </mat-tab>

    <mat-tab label="Surtido" *ngIf="showPackingTab">

      <emp-trade-packing-view
        [orderUID]="order.uid"
        [canPacking]="canPacking"
        (packingViewEvent)="onPackingViewEvent($event)">

      </emp-trade-packing-view>

    </mat-tab>

    <mat-tab label="Envío" *ngIf="showOrderTab" [disabled]="!showShippingTab">

      <emp-trade-shipping-view *ngIf="showShippingTab">

      </emp-trade-shipping-view>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
