<emp-ng-card
  [title]="title"
  [hint]="hint"
  (cardClose)="onClose()" >

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex" >

    <mat-tab label="Información">

      <emp-trade-inventory-order-editor
        [order]="data.order"
        [actions]="data.actions"
        (inventoryOrderEditorEvent)="onInventoryOrderEditorEvent($event)">

      </emp-trade-inventory-order-editor>

    </mat-tab>

    <mat-tab label="Movimientos">

      <emp-trade-inventory-order-items-edition
        [orderUID]="data.order.uid"
        [items]="data.items"
        [canEditItems]="data.actions.canEditItems"
        [canEditEntries]="data.actions.canEditEntries"
        [itemsRequired]="data.order.inventoryType.rules?.itemsRequired"
        [entriesRequired]="data.order.inventoryType.rules?.entriesRequired"
        (inventoryOrderItemsEditionEvent)="onInventoryOrderItemsEditionEvent($event)">

      </emp-trade-inventory-order-items-edition>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
