
<div class="explorer">

  <div class="primary"
    [class.std-hide]="displaySecondaryView"
    [class.hidden]="displayOrderCreator">

    <emp-trade-orders-listing
      [ordersList]="ordersList"
      [orderSelected]="orderSelected"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (ordersListingEvent)="onOrdersListingEvent($event)">

    </emp-trade-orders-listing>

  </div>

  <div class="primary priority" *ngIf="displayOrderCreator">

    <emp-trade-order-creator
      (orderCreatorEvent)="onOrderCreatorEvent($event)">

    </emp-trade-order-creator>

  </div>

  <div class="secondary priority" *ngIf="displaySecondaryView">

    <emp-trade-order-tabbed-view
      [order]="orderSelected"
      (orderTabbedViewEvent)="onOrderTabbedViewEvent($event)">

    </emp-trade-order-tabbed-view>

  </div>

</div>
