
<div class="fx-column-container-fill" [style.padding]="'1rem 8px 1rem 0'">

  <div class="fx-item scrollable-container workarea-color mat-elevation-z1">

    <table mat-table [dataSource]="dataSource" class="data-centered">

      <ng-container matColumnDef="actionDelete">
        <th mat-header-cell *matHeaderCellDef class="column-action">
          <button title="Agregar Producto"
            mat-icon-button color="primary"
            (click)="onAddOrderItemClicked()">
            <mat-icon color="primary">
              add
            </mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row" class="column-action">
          <button title="Eliminar Producto"
            mat-icon-button
            (click)="onRemoveOrderItemClicked(row)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef [style.height.px]="42">Producto</th>
        <td mat-cell *matCellDef="let row" [style.minWidth.px]="160">
          <span class="bold-text">{{ row.product?.productCode }}</span> - {{ row.product?.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="text-align-right"> Cantidad </th>
        <td mat-cell *matCellDef="let row" class="text-align-right" [style.minWidth.px]="100">
          <ng-container *ngIf="!editionMode">{{ row.quantity | number }}</ng-container>
          <ng-container *ngIf="editionMode">

            <emp-ng-input-numeric
              [id]="'quantity-' + row.vendor.vendorProductUID"
              [minDecimals]="0"
              [maxDecimals]="0"
              [(ngModel)]="row.quantity"
              [showError]="!row.quantity"
              [noMargin]="true"
              (valueChange)="onOrderItemChange(row)">

            </emp-ng-input-numeric>

          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="basePrice">
        <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Precio lista </th>
        <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.basePrice | empDecimal }}</td>
      </ng-container>

      <ng-container matColumnDef="specialPrice">
        <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Precio especial </th>
        <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.specialPrice | empDecimal }}</td>
      </ng-container>

      <ng-container matColumnDef="salesPrice">
        <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Precio venta </th>
        <td mat-cell *matCellDef="let row" class="text-align-right" [style.minWidth.px]="100">

          <ng-container *ngIf="!editionMode">{{ row.salesPrice | empDecimal }}</ng-container>
          <ng-container *ngIf="editionMode">

            <emp-ng-input-numeric disabled
              [id]="'salesPrice-' + row.vendor.vendorProductUID"
              [(ngModel)]="row.salesPrice"
              [showError]="!row.salesPrice"
              [noMargin]="true"
              (valueChange)="onOrderItemChange(row)">

            </emp-ng-input-numeric>

          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Desc x politica </th>
        <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.additionalDiscount | empDecimal }}</td>
      </ng-container>

      <ng-container matColumnDef="discountToApply">
        <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> Desc x aplicar </th>
        <td mat-cell *matCellDef="let row" class="text-align-right" [style.minWidth.px]="100">

          <ng-container *ngIf="!editionMode">{{ row.additionalDiscountToApply | empDecimal }}</ng-container>
          <ng-container *ngIf="editionMode">

            <emp-ng-input-numeric disabled
              [id]="'additionalDiscountToApply-' + row.vendor.vendorProductUID"
              [(ngModel)]="row.additionalDiscountToApply"
              [noMargin]="true"
              (valueChange)="onOrderItemChange(row)">

            </emp-ng-input-numeric>

          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="text-align-right"> Total </th>
        <td mat-cell *matCellDef="let row" class="text-align-right" [style.minWidth.px]="70">
          {{ row.total | empDecimal }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="fx-column-container fx-center fx-items-center fx-spacing-2" *ngIf="editionMode || (!editionMode && !hasItems)">

      <button class="btn-base" *ngIf="editionMode"
        (click)="onAddOrderItemClicked()">
        <mat-icon [style.margin]="'0 0.5rem 0 0'">add</mat-icon> Agregar Producto
      </button>

      <div class="text-not-found" *ngIf="!editionMode && !hasItems">
        No se han agregado productos.
      </div>

    </div>


  </div>

</div>
