<emp-ng-spinner #spinner [visible]="isLoading">

</emp-ng-spinner>

<div class="fx-column-container-fill">

  <emp-trade-order-header #orderHeader
    class="fx-item-none"
    [order]="orderForEdition"
    [isSaved]="isSaved"
    [editionMode]="editionMode"
    (orderHeaderEvent)="onOrderHeaderEvent($event)">

  </emp-trade-order-header>

  <emp-trade-order-items
    class="fx-item"
    [order]="orderForEdition"
    [editionMode]="editionMode"
    [canEdit]="isOrderDataValid"
    [style.min-height.px]="145"
    (orderItemsEvent)="onOrderItemsEvent($event)">

  </emp-trade-order-items>

  <emp-trade-order-summary #orderSummary
    class="fx-item-none"
    [order]="orderForEdition"
    [isSaved]="isSaved"
    [editionMode]="editionMode"
    (orderSummaryEvent)="onOrderSummaryEvent($event)">

  </emp-trade-order-summary>

  <emp-trade-order-submitter
    class="fx-item-none"
    [order]="orderForEdition"
    [isSaved]="isSaved"
    [editionMode]="editionMode"
    [canEdit]="canEdit"
    [isReady]="isReady"
    (orderSubmitterEvent)="onOrderSubmitterEvent($event)">

  </emp-trade-order-submitter>

</div>


<emp-trade-products-selector *ngIf="displayProductsSelector"
  [order]="orderForEdition"
  (productsSelectorEvent)="onProductsSelectorEvent($event)">

</emp-trade-products-selector>
