<emp-ng-card
  [title]="titleText"
  [hint]="hintText"
  (cardClose)="onClose()">

  <div class="card-body-padding" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="isLoading || submitted">

    </emp-ng-spinner>

    <emp-trade-shipping-orders-resume *ngIf="putOnPallets"
      [shippingTotals]="shipping.shippingData"
      (shippingOrdersResumeEvent)="onShippingOrdersResumeEvent($event)">

    </emp-trade-shipping-orders-resume>


    <emp-trade-shipping-data-view
      [shippingData]="shipping.shippingData"
      [canEdit]="shipping.canEdit"
      (shippingDataViewEvent)="onShippingDataViewEvent($event)">

    </emp-trade-shipping-data-view>


    <emp-trade-shipping-orders-submitter
      [shippingData]="shipping.shippingData"
      [canEdit]="shipping.canEdit"
      [isReady]="isShippingDataReady"
      [(putOnPallets)]="putOnPallets"
      (shippingOrdersSubmitterEvent)="onShippingOrdersSubmitterEvent($event)">

    </emp-trade-shipping-orders-submitter>


    <emp-trade-shipping-orders-table *ngIf="!putOnPallets"
      [shipping]="shipping"
      (shippingOrdersTableEvent)="onShippingOrdersTableEvent($event)">

    </emp-trade-shipping-orders-table>


    <emp-trade-shipping-pallets-table *ngIf="putOnPallets"
      [shippingPallets]="shipping.shippingPalletsWithPackages ?? []"
      [canEdit]="shipping.canEdit"
      (shippingPalletsTableEvent)="onShippingPalletsTableEvent($event)">

    </emp-trade-shipping-pallets-table>

  </div>

</emp-ng-card>


<emp-trade-shipping-orders-modal *ngIf="displayShippingOrdersModal"
  [shipping]="shipping"
  (shippingOrdersModalEvent)="onShippingOrdersModalEvent($event)">

</emp-trade-shipping-orders-modal>


<emp-trade-shipping-pallet-modal *ngIf="displayShippingPalletModal"
  [orders]="shipping.ordersForShipping"
  [pallet]="shippingPalletSelected"
  (shippingPalletModalEvent)="onShippingPalletModalEvent($event)">

</emp-trade-shipping-pallet-modal>
