<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Listado de {{config.titleText}}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *ngIf="config.canAdd"
        class="btn-action"
        (click)="onCreateOrderClicked()">
        Agregar {{config.itemText}}
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <ng-content>

      </ng-content>

      <emp-trade-orders-controls class="fx-item-none" *ngIf="ordersSelected.length > 0"
        [config]="config"
        [operationsList]="operationsList"
        [ordersSelected]="ordersSelected"
        (ordersControlsEvent)="onOrdersControlsEvent($event)">

      </emp-trade-orders-controls>

      <emp-ng-data-table class="fx-item"
        [dataTable]="ordersData"
        [executed]="queryExecuted"
        [selectedUID]="selectedOrderUID"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        [showControls]="false"
        [showCheckboxSelection]="canSelectOrders"
        (dataTableEvent)="onOrdersTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
