<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container sm-fx-gap-half">

      <!-- <div class="fx-item-quarter sm-fx-item">

        <label>Tipo de inventario:</label>

        <emp-ng-select
          formControlName="inventoryOrderTypeUID"
          [items]="inventoryTypesList"
          [config]="{selectFirst: true}"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.inventoryOrderTypeUID)">
        </emp-ng-select>

      </div> -->

      <div class="fx-item-half sm-fx-item">

        <label>Estatus:</label>

        <emp-ng-select
          formControlName="status"
          placeholder="Todos"
          [config]="{clearable: true}"
          [items]="statusList">
        </emp-ng-select>

      </div>

      <!-- <div class="fx-item-quarter sm-fx-item">
        <label>Asignado a:</label>
        <emp-ng-select
          formControlName="assignedToUID"
          placeholder="Todos"
          [config]="{clearable: true}"
          [loading]="isLoading"
          [items]="assignedToList">
        </emp-ng-select>
      </div> -->

      <div class="fx-item fx-items-end sm-fx-item">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords"
            placeholder="Buscar..."
            formControlName="keywords"
            (keyup.enter)="onSearchClicked()"
            (keyup.escape)="form.controls.keywords.reset()">

        </div>

      </div>

      <div #filterOptionsSection class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="this.form.valid"
          [class.btn-icon]="!this.form.valid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>


<mat-divider>

</mat-divider>
