<div class="explorer">

  <emp-ng-access-control-viewer #accessControlViewer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [selectedItem]="selectedData.item"
    (accessControlViewerEvent)="onAccessControlViewerEvent($event)">

  </emp-ng-access-control-viewer>

  <emp-ng-access-control-tabbed-view *ngIf="displayTabbedView"
    class="secondary std-stacked"
    [accessControlItem]="selectedData"
    (accessControlTabbedViewEvent)="onAccessControlTabbedViewEvent($event)">

  </emp-ng-access-control-tabbed-view>

</div>
