<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador de ordenes de inventario

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button
        class="btn-action"
        (click)="onCreateOrderClicked()">
        Agregar orden
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-trade-inventory-orders-filter class="fx-item-none"
        [query]="query"
        (inventoryOrdersFilterEvent)="onInventoryOrdersFilterEvent($event)">

      </emp-trade-inventory-orders-filter>

      <emp-ng-data-table class="fx-item"
        [showControls]="false"
        [dataTable]="inventoryOrdersData"
        [selectedUID]="inventoryOrderSelected.uid"
        [executed]="queryExecuted"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onInventoryOrdersDataTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
