<div class="fx-row-container fx-space-between fx-items-center info-container"
  [style.margin-right.px]="8" [style.min-height.px]="46">

  <div class="fx-row-container md-fx-column-container fx-item fx-space-between">
    <div class="fx-item-none" *ngIf="showDetailForOrders"><strong>No. pedidos:</strong>&nbsp; {{ shippingTotals.ordersCount }} &nbsp; &nbsp;</div>
    <div class="fx-item-none" *ngIf="showDetailForOrders"><strong>Importe:</strong>&nbsp; {{ shippingTotals.ordersTotal | empDecimal}} &nbsp; &nbsp;</div>
    <div class="fx-item-none"><strong>Paquetes:</strong>&nbsp; {{ shippingTotals.totalPackages }} &nbsp; &nbsp;</div>
    <div class="fx-item-none"><strong>Peso:</strong>&nbsp; {{ shippingTotals.totalWeight | empDecimal}} &nbsp; &nbsp;</div>
    <div class="fx-item-none"><strong>Volumen:</strong>&nbsp; {{ shippingTotals.totalVolume | empDecimal }} &nbsp; &nbsp; &nbsp; &nbsp;</div>
  </div>

  <button *ngIf="showDetailForOrders"
    class="btn"
    [style.width.px]="90"
    (click)="onShowDetailClicked()">
    Detalle
  </button>

</div>
