  <ng-container *ngIf="canEdit || canSendOrder" #rowFooter>

    <mat-divider class="horizontal">

    </mat-divider>

    <div class="fx-row-container" [style.margin-right.px]="8">

      <div class="fx-item fx-start fx-items-center">

        <button *ngIf="canSendOrder"
          type="button" class="btn"
          (click)="onSendOrder()">
          Enviar a embarque
        </button>

      </div>

      <div class="fx-item fx-center fx-items-center">
          <mat-checkbox name="putOnPallets"
            [ngModel]="putOnPallets" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="putOnPalletsChange.emit($event)"
            (click)="$event.stopPropagation">
            Entarimar paquetes
          </mat-checkbox>
      </div>

      <div class="fx-item fx-end fx-items-center" *ngIf="canEdit">

        <button
          [class.btn]="!isReady"
          [class.btn-action]="isReady"
          [style.width.px]="100"
          (click)="onSubmitButtonClicked()">
          Guardar
        </button>

      </div>

    </div>

  </ng-container>
