<emp-ng-modal-window [config]="{width:'850px'}">

  <emp-ng-card
    title="Pedidos en el envío"
    hint="Informacion de los pedidos contenidos en el envío"
    (cardClose)="onClose()">

    <div class="card-body-without-top">

      <emp-trade-shipping-orders-table
        [shipping]="shipping"
        [showTitle]="false">

      </emp-trade-shipping-orders-table>


      <mat-divider class="horizontal" [style.margin-right.px]="0">

      </mat-divider>


      <div class="fx-row-container">

        <div class="fx-item fx-end fx-items-center">

          <button
            class="btn-action">
            Guardar
          </button>

        </div>

      </div>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
