<div class="section-title"> Datos del envío </div>

<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-three-quarter">

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Paquetería:</label>
        <emp-ng-select
          formControlName="parcelSupplier"
          [items]="parcelSuppliersList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.parcelSupplier)">
        </emp-ng-select>
      </div>

      <div class="fx-item">
        <label>Número de guía:</label>
        <input type="text" class="text-box"
          formControlName="shippingGuide"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.shippingGuide)">
      </div>

      <div class="fx-row-container fx-item-third">

        <div class="fx-item-half">
          <label>Importe de la paquetería:</label>

            <emp-ng-input-numeric
              [id]="'parcelAmount-' + shippingData.shippingUID"
              formControlName="parcelAmount"
              [showError]="formHelper.isControlInvalid(form.controls.parcelAmount)">

            </emp-ng-input-numeric>

        </div>

        <div class="fx-item-half">
          <label>Importe cobrado al cliente:</label>

          <emp-ng-input-numeric
            [id]="'customerAmount-' + shippingData.shippingUID"
            formControlName="customerAmount"
            [showError]="formHelper.isControlInvalid(form.controls.customerAmount)">

          </emp-ng-input-numeric>

        </div>

      </div>

      <div *ngIf="canEdit"
        class="fx-item-none fx-end fx-items-end"
        [style.paddingBottom.px]="2">
        <button class="btn"
          [disabled]="!form.value.parcelAmount || form.value.customerAmount === form.value.parcelAmount"
          [style.width.px]="100"
          (click)="onAuthorizeNotChargingShipping()">
          Autorizar
        </button>
      </div>

    </div>

  </div>

</form>
