<emp-ng-modal-window *ngIf="displayModal"
  [config]="{width:'80%', height: '90%', maxWidth: '960px'}">

  <emp-ng-card
    [title]="title"
    [hint]="hint"
    (cardClose)="onCloseClicked()">

    <div class="preview-container preview-padding" *ngIf="!hasError">

      <div class="object-preview-container">

        <object *ngIf="fileUrl"
          class="object-preview mat-elevation-z1"
          [data]="fileUrl | empSafeUrl"
          (error)="onFileError()">

        </object>

      </div>

    </div>

    <div class="text-not-found" *ngIf="hasError">
      Error al cargar el archivo.
    </div>

  </emp-ng-card>

</emp-ng-modal-window>
