<emp-ng-modal-window [config]="{width:'850px'}">

  <emp-ng-card
    title="Pedidos en el envío"
    hint="Informacion de los pedidos contenidos en el envío"
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <emp-trade-shipping-orders-table
        [shipping]="shipping"
        [canEdit]="canEdit"
        [canPrint]="canPrint"
        [showTitle]="false"
        (shippingOrdersTableEvent)="onShippingOrdersTableEvent($event)">

      </emp-trade-shipping-orders-table>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
