
  <mat-divider class="horizontal">

  </mat-divider>

  <div class="fx-row-container" [style.margin-right.px]="8">

    <div class="fx-item fx-start fx-items-center">

      <ng-container *ngIf="isSaved">

        <button *ngIf="editionMode && actions.canDelete"
          type="button" class="btn-warning"
          (click)="onDeleteShipping()">
          Cancelar
        </button>

        <button *ngIf="!editionMode && actions.canCloseEdit"
          type="button" class="btn"
          (click)="onCloseEdition()">
          Enviar a embarque
        </button>

        <button *ngIf="!editionMode && actions.canCloseShipping"
          type="button" class="btn"
          (click)="onCloseShipping()">
          Cerrar embarque
        </button>

      </ng-container>

    </div>

    <div class="fx-item fx-center fx-items-center"
      [title]="!isSaved ? 'Es necesario guardar el envío para entarimar los paquetes' : ''">

        <mat-checkbox name="putOnPallets" empNgStopPropagation
          [ngModel]="putOnPallets" [ngModelOptions]="{standalone: true}"
          [disabled]="!isSaved || !actions.canEdit"
          (ngModelChange)="putOnPalletsChange.emit($event)">
          Entarimar paquetes
        </mat-checkbox>

    </div>

    <div class="fx-item fx-end fx-items-center">

      <button *ngIf="!isSaved"
        [class.btn]="!isReady"
        [class.btn-action]="isReady"
        [style.width.px]="100"
        (click)="onSubmitButtonClicked()">
        Agregar
      </button>

      <div class="fx-row-container fx-gap-half" *ngIf="isSaved">

        <ng-container *ngIf="!editionMode">

          <button *ngIf="actions.canEdit"
            class="btn-action"
            (click)="onToggleEditionMode()">
            Editar
          </button>

          <button *ngIf="actions.canPrintShippingLabel"
            type="button" class="btn"
            (click)="onPrintShippingLabels()">
            Imprimir etiquetas
          </button>

          <button *ngIf="actions.canPrintOrder"
            type="button" class="btn-action"
            (click)="onPrintOrders()">
            Imprimir facturas
          </button>

        </ng-container>

        <ng-container *ngIf="editionMode">

          <button
            [class.btn]="!isReady"
            [class.btn-action]="isReady"
            [style.width.px]="100"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="onToggleEditionMode()">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </div>

  </div>
