<div class="section-title" *ngIf="showTitle"> Pedidos </div>

<div class="fx-row-container fx-end" *ngIf="canEdit"
  [style.padding-bottom.px]="8"
  [style.margin-right.px]="showTitle ? 0 : -8">

  <div class="fx-item-third md-fx-item">

    <emp-ng-select #orderSearcher
      [(ngModel)]="orderFromSearcher"
      placeholder="Buscar pedido a agregar"
      bindLabel="orderNumber"
      bindValue="orderUID"
      [config]="{ bindByValue: false,
                  virtualScroll: true }"
      [items]="ordersList$ | async"
      [typeahead]="ordersInput$"
      [loading]="isOrdersLoading"
      (changes)="onOrderSearcherChanges()">

      <ng-template #optionTemplate let-item="item">

        <div class="wrap" [style.padding]="'0.25rem 0'">
          <span class="item-highlight">{{item.orderNumber}}</span> <br>
          <span class="item-text-xs">{{item.customerName}}</span>
        </div>

      </ng-template>

    </emp-ng-select>

  </div>

</div>

<div class="scrollable-container mat-elevation-z1"
  [style.max-height.vh]="50"
  [style.margin-right.px]="showTitle ? 8 : 0"
  [style.margin-bottom.px]="0">

  <table mat-table [dataSource]="dataSource" class="data-centered">

    <ng-container matColumnDef="actionPrint">
      <th mat-header-cell *matHeaderCellDef class="column-action"></th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <button title="Imprimir factura"
          mat-icon-button
          (click)="$event.stopPropagation(); onPrintOrderClicked(row)">
          <mat-icon>
            print
          </mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> No. Pedido </th>
      <td mat-cell *matCellDef="let row" class="bold-text"> {{ row.orderNumber }} </td>
      <td mat-footer-cell *matFooterCellDef class="bold-text">
        {{ shipping.shippingData.ordersCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="orderTotal">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Importe </th>
      <td mat-cell *matCellDef="let row" class="text-align-right"> {{ row.orderTotal | empDecimal }} </td>
      <td mat-footer-cell *matFooterCellDef class="text-align-right bold-text">
        {{ shipping.shippingData.ordersTotal | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPackages">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Paquetes </th>
      <td mat-cell *matCellDef="let row" class="text-align-right"> {{ row.totalPackages }} </td>
      <td mat-footer-cell *matFooterCellDef class="text-align-right bold-text">
        {{ shipping.shippingData.totalPackages }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalWeight">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Peso </th>
      <td mat-cell *matCellDef="let row" class="text-align-right"> {{ row.totalWeight | empDecimal }} </td>
      <td mat-footer-cell *matFooterCellDef class="text-align-right bold-text">
        {{ shipping.shippingData.totalWeight | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalVolume">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Volumen </th>
      <td mat-cell *matCellDef="let row" class="text-align-right"> {{ row.totalVolume | empDecimal }} </td>
      <td mat-footer-cell *matFooterCellDef class="text-align-right bold-text">
        {{ shipping.shippingData.totalVolume | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionEdit">
      <th mat-header-cell *matHeaderCellDef class="column-action"></th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <button title="Remover perdido"
          mat-icon-button
          (click)="$event.stopPropagation(); onRemoveOrderToShippingClicked(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        No se han agregado pedidos.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
      [hidden]="hasItems"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

  </table>

</div>
