<div [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading || submitted">

  </emp-ng-spinner>

  <ng-container *ngIf="putOnPallets">

    <emp-trade-packaging-resume
      [totals]="shipping.shippingData"
      (packagingResumeEvent)="onPackagingResumeEvent($event)">

    </emp-trade-packaging-resume>

    <br>

  </ng-container>


  <emp-trade-shipping-data-view
    [shippingData]="shipping.shippingData"
    [editionMode]="editionMode"
    (shippingDataViewEvent)="onShippingDataViewEvent($event)">

  </emp-trade-shipping-data-view>


  <emp-trade-shipping-orders-submitter
    [shippingData]="shipping.shippingData"
    [actions]="shipping.actions"
    [isReady]="isShippingDataReady && shipping.ordersForShipping.length > 0"
    [editionMode]="editionMode"
    [(putOnPallets)]="putOnPallets"
    (shippingOrdersSubmitterEvent)="onShippingOrdersSubmitterEvent($event)">

  </emp-trade-shipping-orders-submitter>

  <br>

  <emp-trade-shipping-orders-table *ngIf="!putOnPallets"
    [shipping]="shipping"
    [canEdit]="canEdit"
    [canPrint]="shipping.actions.canPrintOrder"
    (shippingOrdersTableEvent)="onShippingOrdersTableEvent($event)">

  </emp-trade-shipping-orders-table>


  <emp-trade-shipping-pallets-table *ngIf="putOnPallets"
    [shippingPallets]="shipping.shippingPalletsWithPackages ?? []"
    [totalPackages]="shipping.shippingData.totalPackages"
    [canEdit]="canEdit"
    (shippingPalletsTableEvent)="onShippingPalletsTableEvent($event)">

  </emp-trade-shipping-pallets-table>

</div>


<emp-trade-shipping-orders-modal *ngIf="displayShippingOrdersModal"
  [shipping]="shipping"
  [canEdit]="canEdit"
  [canPrint]="shipping.actions.canPrintOrder"
  (shippingOrdersModalEvent)="onShippingOrdersModalEvent($event)">

</emp-trade-shipping-orders-modal>


<emp-trade-shipping-pallet-modal *ngIf="displayShippingPalletModal"
  [shipping]="shipping"
  [pallet]="shippingPalletSelected"
  [canEdit]="canEdit"
  (shippingPalletModalEvent)="onShippingPalletModalEvent($event)">

</emp-trade-shipping-pallet-modal>


<emp-ng-file-preview #filePreview
  [title]="'Impresión de envío ' + shipping.shippingData.shippingID "
  hint="Datos de envío">

</emp-ng-file-preview>
