<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Pedido:</label>
        <input type="text" class="text-box"
          formControlName="orderNumber"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.orderNumber)">
      </div>

      <div class="fx-item">
        <label>Lista de precio:</label>
        <input type="text" class="text-box"
          formControlName="priceList"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.priceList)">
      </div>

      <div class="fx-item-none">
        <label>Fecha:</label>
        <emp-ng-datepicker
          formControlName="orderTime"
          [showError]="formHelper.isControlInvalid(form.controls.orderTime)">

        </emp-ng-datepicker>
      </div>

      <div class="fx-item-third">
        <label>Estatus:</label>
        <emp-ng-select
          formControlName="status"
          [items]="statusList"
          [showError]="formHelper.isControlInvalid(form.controls.status)">
        </emp-ng-select>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Proveedor:</label>
        <emp-ng-select
          formControlName="supplier"
          [config]="{bindByValue: false}"
          [items]="suppliersList"
          [showError]="formHelper.isControlInvalid(form.controls.supplier)">
        </emp-ng-select>
      </div>

      <div class="fx-item-third">
        <label>Vendedor:</label>
        <emp-ng-select
          formControlName="salesAgent"
          [config]="{bindByValue: false}"
          [items]="salesAgentsList"
          [showError]="formHelper.isControlInvalid(form.controls.salesAgent)">
        </emp-ng-select>
      </div>

      <div class="fx-item-sixth">
        <label>Forma de envío:</label>
        <emp-ng-select
          formControlName="shippingMethod"
          [items]="shippingMethodList"
          [showError]="formHelper.isControlInvalid(form.controls.shippingMethod)">
        </emp-ng-select>
      </div>

      <div class="fx-item-sixth">
        <label>Condiciones de pago:</label>
        <emp-ng-select
          formControlName="paymentCondition"
          [items]="paymentConditionList"
          [showError]="formHelper.isControlInvalid(form.controls.paymentCondition)">
        </emp-ng-select>
      </div>

    </div>

    <emp-trade-customer-selector
      formControlName="customer"
      [initialValue]="orderData.customer"
      [editionMode]="editionMode"
      [errors]="form.controls.customer.errors"
      [showError]="formHelper.isControlInvalid(form.controls.customer)">

    </emp-trade-customer-selector>

  </div>

</form>
