<div class="fx-row-container fx-space-between" [style.marginRight.px]="8">

  <div class="fx-item-third">

    <emp-trade-order-additional-data #additionalData
      [orderData]="orderData"
      [isSaved]="isSaved"
      [editionMode]="editionMode"
      (orderAdditionalDataEvent)="onOrderAdditionalDataEvent($event)">

    </emp-trade-order-additional-data>

  </div>


  <div class="fx-item-none" [style.minWidth.px]="150" [style.minHeight.px]="100">

    <emp-trade-order-totals
      [orderTotals]="orderData">

    </emp-trade-order-totals>

  </div>

</div>
