  <mat-divider [style.margin]="'8px 0'" *ngIf="!isSaved || (actions?.canEdit || actions?.canApply || actions?.canAuthorize)">

  </mat-divider>

  <div class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!isReady"
          [class.btn-action]="isReady"
          (click)="onCreateButtonClicked()">
          Agregar pedido
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-start fx-items-center">

        <button *ngIf="editionMode && actions?.canEdit"
          type="button" class="btn-warning"
          (click)="onCancelButtonClicked()">
          Cancelar
        </button>

        <button *ngIf="!editionMode && actions?.canApply"
          type="button" class="btn"
          (click)="onSendToButtonClicked()">
          Aplicar
        </button>

        <button *ngIf="!editionMode && actions?.canAuthorize"
          type="button" class="btn"
          (click)="onAuthorizeButtonClicked()">
          Autorizar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <div class="fx-row-container fx-gap-half">

          <button *ngIf="!editionMode && actions?.canEdit"
            class="btn-action"
            (click)="onToggleEditionMode()">
            Editar
          </button>

          <ng-container *ngIf="editionMode">

            <button
              [class.btn]="!isReady"
              [class.btn-action]="isReady"
              (click)="onUpdateButtonClicked()">
              Guardar
            </button>

            <button
              class="btn-base uppercase"
              (click)="onToggleEditionMode()">
              Descartar Cambios
            </button>

          </ng-container>

        </div>

      </div>

    </ng-container>

  </div>
