<emp-ng-spinner #spinner [visible]="isLoadingShipping">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary"
    [class.std-hide]="displayShippingViewer">

    <emp-trade-shipping-explorer
      [shippingList]="shippingList"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      [shippingSelected]="shippingDataSelected"
      (shippingExplorerEvent)="onShippingExplorerEvent($event)">

    </emp-trade-shipping-explorer>

  </div>


  <div class="secondary priority" *ngIf="displayShippingViewer">

    <emp-trade-shipping-tabbed-view
      [shippingData]="shippingDataSelected"
      (shippingTabbedViewEvent)="onShippingTabbedViewEvent($event)">

    </emp-trade-shipping-tabbed-view>

  </div>

</div>


<emp-trade-shipping-editor-modal *ngIf="displayShippingCreator"
  (shippingEditorModalEvent)="onShippingCreatorEvent($event)">

</emp-trade-shipping-editor-modal>
