<div class="fill-table-container" [style.width.%]="100">

  <emp-ng-data-table *ngIf="moneyAccountTransactionsData.entries.length > 0"
    [dataTable]="moneyAccountTransactionsData"
    [showControls]="false"
    [showDeleteButton]="true"
    deleteButtonText="Eliminar transacción"
    (dataTableEvent)="onDataTableEvent($event)">

  </emp-ng-data-table>


  <div *ngIf="moneyAccountTransactionsData.entries.length === 0" class="text-not-found">
    No se encontrarón transacciones.
  </div>

</div>
