<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="fx-item-none" *ngIf="canEditItems || canEditEntries">

    <div class="fx-row-container fx-items-center fx-end fx-gap">

      <button type="button" *ngIf="canEditItems"
        class="btn-action"
        (click)="onCreateItemClicked()">
        Agregar movimiento
      </button>

      <button type="button" *ngIf="canEditEntries"
        class="btn"
        (click)="onCloseEntriesClicked()">
        Cerrar asignación
      </button>

    </div>

  </div>

  <emp-trade-inventory-order-items-table  class="fx-item"
    [orderUID]="orderUID"
    [items]="items"
    [canDelete]="canEditItems"
    [canEditEntries]="canEditEntries"
    [itemsRequired]="itemsRequired"
    [entriesRequired]="entriesRequired"
    (inventoryOrderItemsTableEvent)="onInventoryOrderItemsTableEvent($event)">

  </emp-trade-inventory-order-items-table>

</div>


<emp-trade-inventory-order-item-editor *ngIf="displayItemEditor"
  [orderUID]="orderUID"
  [assignedQuantity]="items.length"
  (inventoryOrderItemEditorEvent)="onInventoryOrderItemEditorEvent($event)">

</emp-trade-inventory-order-item-editor>


<emp-trade-inventory-order-item-entries-edition *ngIf="displayItemEntriesEdition"
  [orderUID]="orderUID"
  [assignedQuantity]="selectedItem.assignedQuantity"
  [item]="selectedItem"
  [canEdit]="canEditEntries"
  (inventoryOrderItemEntriesEditionEvent)="onInventoryOrderItemEntriesEditionEvent($event)">

</emp-trade-inventory-order-item-entries-edition>
