<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="column-index"> </th>
      <td mat-cell *matCellDef="let row; let i = index;" class="column-index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Localización </th>
      <td mat-cell *matCellDef="let row">{{ row.location }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="cell-quantity"> Cantidad </th>
      <td mat-cell *matCellDef="let row" class="cell-quantity"
        [class.cell-quantity-enabled]="isRowInEdition(row.uid)"
        [class.shadow-cell]="entriesRequired">
        <ng-container *ngIf="!isRowInEdition(row.uid)">{{ row.quantity | empDecimal }}</ng-container>
        <ng-container *ngIf="isRowInEdition(row.uid)">

          <emp-ng-input-numeric #quantityInput
            placeholder="Cantidad"
            [id]="'quantity-' + rowInEdition.uid"
            [(ngModel)]="rowInEdition.quantity"
            [noMargin]="true"
            [showError]="!isItemInEditionValid"
            (keyupEscape)="rowInEdition.quantity = null"
            (keyupEnter)="onUpdateItemClicked()">
          </emp-ng-input-numeric>

        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="assignedQuantity">
      <th mat-header-cell *matHeaderCellDef class="text-align-right"> Asignados </th>
      <td mat-cell *matCellDef="let row" class="text-align-right">
        {{ row.assignedQuantity | empDecimal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">

        <div class="fx-row-container">

          <div class="fx-row-container" *ngIf="!isRowInEdition(row.uid)">

            <button mat-icon-button empNgStopPropagation *ngIf="entriesRequired"
              [title]="canEditEntries ? 'Editar localizaciones' : 'Ver localizaciones'"
              (click)="onEditItemEntriesClicked(row)">
              <mat-icon>
                playlist_add_check
              </mat-icon>
            </button>

            <button mat-icon-button empNgStopPropagation *ngIf="canEdit"
              title="Editar cantidad"
              (click)="onEditItemClicked(row)">
              <mat-icon>
                edit
              </mat-icon>
            </button>

            <button mat-icon-button empNgStopPropagation *ngIf="canDelete"
              title="Eliminar movimiento"
              (click)="onDeleteItemClicked(row)">
              <mat-icon>
                delete
              </mat-icon>
            </button>

          </div>

          <div class="fx-row-container" *ngIf="isRowInEdition(row.uid)">

            <button mat-icon-button empNgStopPropagation
              title="Cancelar"
              (click)="onCancelEditionClicked()">
              <mat-icon> close </mat-icon>
            </button>

            <button mat-icon-button empNgStopPropagation
              title="Guardar"
              [color]="isItemInEditionValid ? 'primary' : null"
              [style.marginRight]="0"
              (click)="onUpdateItemClicked()">
              <mat-icon [color]="isItemInEditionValid ? 'primary' : null"> done </mat-icon>
            </button>
          </div>

        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="notFoundMessage">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        Esta orden de inventario no tiene movimientos.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.row-selected]="isRowInEdition(row.uid)"></tr>
    <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found" [hidden]="hasItems"></tr>

  </table>

</div>
