<div class="fx-column-container-fill fx-gap-half" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="fx-item-none">

    <div class="fx-row-container fx-end">


      <button type="button" *ngIf="canEditEntries"
        class="btn"
        (click)="onCloseEntriesClicked()">
        Cerrar asignación
      </button>

      <button type="button" *ngIf="canEditItems"
        class="btn-action"
        [style.margin-left.px]="8"
        (click)="onAddItemClicked()">
        Agregar movimiento
      </button>

    </div>

  </div>

  <emp-trade-inventory-order-items-table  class="fx-item"
    [items]="items"
    [canDelete]="canEditItems"
    [canEditEntries]="canEditEntries"
    (inventoryOrderItemsTableEvent)="onInventoryOrderItemsTableEvent($event)">

  </emp-trade-inventory-order-items-table>

</div>


<emp-trade-inventory-order-item-entries-edition *ngIf="displayItemEntriesEdition"
  [orderUID]="orderUID"
  [assignedQuantity]="selectedItem.assignedQuantity"
  [item]="selectedItem"
  [canEdit]="canEditEntries"
  (inventoryOrderItemEntriesEditionEvent)="onInventoryOrderItemEntriesEditionEvent($event)">

</emp-trade-inventory-order-item-entries-edition>


<emp-trade-inventory-order-product-selector *ngIf="displayProductSelector"
  (inventoryOrderProductSelectorEvent)="onInventoryOrderProductSelectorEvent($event)">

</emp-trade-inventory-order-product-selector>
