<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>


<div class="explorer">

  <emp-trade-orders-explorer
    class="primary priority"
    [class.std-hide]="displayTabbedView"
    [config]="config"
    [data]="data"
    [selectedUID]="selectedData?.order?.uid ?? null"
    [isLoading]="isLoading"
    [queryExecuted]="queryExecuted"
    (ordersExplorerEvent)="onOrdersExplorerEvent($event)">

    <emp-trade-inventory-orders-filter class="fx-item-none"
      [query]="query"
      (inventoryOrdersFilterEvent)="onOrdersFilterEvent($event)">

    </emp-trade-inventory-orders-filter>

  </emp-trade-orders-explorer>


  <emp-trade-inventory-order-tabbed-view *ngIf="displayTabbedView"
    class="secondary std-stacked"
    [data]="selectedData"
    (inventoryOrderTabbedViewEvent)="onOrderTabbedViewEvent($event)">

  </emp-trade-inventory-order-tabbed-view>

</div>


<emp-trade-inventory-order-creator *ngIf="displayCreator"
  (inventoryOrderCreatorEvent)="onOrderCreatorEvent($event)">

</emp-trade-inventory-order-creator>
