<emp-ng-spinner #spinner [visible]="isLoadingSelection">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary priority" [class.std-hide]="displayTabbedView">


    <emp-trade-orders-explorer
      [config]="salesConfig"
      [ordersData]="inventoryOrdersData"
      [selectedOrderUID]="inventoryOrderSelected?.uid ?? null"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (ordersExplorerEvent)="onOrdersExplorerEvent($event)">

      <emp-trade-inventory-orders-filter class="fx-item-none"
        [query]="query"
        (inventoryOrdersFilterEvent)="onInventoryOrdersFilterEvent($event)">

      </emp-trade-inventory-orders-filter>

    </emp-trade-orders-explorer>

  </div>

  <div class="secondary" *ngIf="displayTabbedView">

    <emp-trade-inventory-order-tabbed-view
      [order]="inventoryOrderSelected"
      (inventoryOrderTabbedViewEvent)="onInventoryOrderTabbedViewEvent($event)">

    </emp-trade-inventory-order-tabbed-view>

  </div>

</div>


<emp-trade-inventory-order-creator *ngIf="displayCreator"
  (inventoryOrderCreatorEvent)="onInventoryOrderCreatorEvent($event)">

</emp-trade-inventory-order-creator>
