 <div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted || isLoading">

  </emp-ng-spinner>

  <emp-trade-packing-status class="fx-item-none"
    [missingItemsCount]="orderPacking.missingItems.length"
    [packingItemsCount]="orderPacking.packagedItems.length"
    [canEdit]="canPacking"
    [isLoading]="isLoading"
    (packingStatusEvent)="onPackingStatusEvent($event)">

  </emp-trade-packing-status>

  <br>

  <emp-trade-packing-items-table class="fx-item"
    [packingItems]="orderPacking.packagedItems"
    [canEdit]="canPacking"
    (packingItemsTableEvent)="onPackingItemsTableEvent($event)">

  </emp-trade-packing-items-table>

 </div>


<emp-trade-packing-item-editor *ngIf="displayPackingItemEditor"
  [packingItem]="selectedPackingItem"
  (packingItemEditorEvent)="onPackingItemEditorEvent($event)">

</emp-trade-packing-item-editor>


<emp-trade-packing-item-entries-editor *ngIf="displayPackingItemEntriesEditor"
  [packingItem]="selectedPackingItem"
  [missingItems]="orderPacking.missingItems"
  [canEdit]="canPacking"
  (packingItemEntriesEditorEvent)="onPackingItemEntriesEditorEvent($event)">

</emp-trade-packing-item-entries-editor>


<emp-trade-missing-items-modal *ngIf="displayMissingItemsModal"
  [missingItems]="orderPacking.missingItems"
  (missingItemsModalEvent)="onMissingItemsModalEvent($event)">

</emp-trade-missing-items-modal>
