<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

        <div class="fx-item-half">
          <label>Tipo de cuenta:</label>
          <emp-ng-select
            formControlName="moneyAccountType"
            [items]="moneyAccountTypesList"
            [loading]="isLoading"
            [showError]="formHelper.isControlInvalid(form.controls.moneyAccountType)">
          </emp-ng-select>
        </div>

        <div class="fx-item-half">
          <label>Número de cuenta:</label>
          <input type="text" class="text-box"
            formControlName="moneyAccountNumber"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.moneyAccountNumber)">
        </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">
        <label>Propietario:</label>
        <emp-ng-select
          formControlName="moneyAccountOwner"
          [items]="partiesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.moneyAccountOwner)">
        </emp-ng-select>
      </div>

      <div class="fx-item-half">
        <label>Límite:</label>
        <input type="text" empNgCurrency
          class="text-box text-align-right"
          formControlName="moneyAccountLimit"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.moneyAccountLimit)">
      </div>

    </div>

  </div>

  <mat-divider class="horizontal">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center" *ngIf="editionMode">

        <button
          type="button" class="btn-warning"
          (click)="onDeleteButtonClicked()">
          Eliminar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <ng-container *ngIf="editionMode">

          <button
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
