<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

        <div class="fx-item-half">
          <label>Tipo de cuenta:</label>
          <emp-ng-select
            formControlName="moneyAccountType"
            [items]="moneyAccountTypesList"
            [loading]="isLoading"
            [showError]="formHelper.isControlInvalid(form.controls.moneyAccountType)">
          </emp-ng-select>
        </div>

        <div class="fx-item-half">
          <label>Número de cuenta:</label>
          <input type="text" class="text-box"
            formControlName="moneyAccountNumber"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.moneyAccountNumber)">
        </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-half">
        <label>Propietario:</label>
        <emp-ng-select-typeahead
          formControlName="moneyAccountOwner"
          [config]="{ minTermLength: 5 }"
          [searcherAPI]="accountHoldersAPI"
          [initialValue]="moneyAccount.moneyAccountOwner"
          [showError]="formHelper.isControlInvalid(form.controls.moneyAccountOwner)"
          placeholder="Buscar propietario">

        </emp-ng-select-typeahead>
      </div>

      <div class="fx-item-quarter">
        <label>Límite:</label>
        <input type="text" empNgCurrency
          class="text-box text-align-right"
          formControlName="moneyAccountLimit"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.moneyAccountLimit)">
      </div>

      <div class="fx-item-quarter">
        <label>Límite de días para pagar:</label>
        <input type="text" empNgInteger
          class="text-box text-align-right"
          formControlName="limitDaysToPay"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.limitDaysToPay)">
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item">
        <label>Notas:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
          formControlName="notes"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.notes)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal" *ngIf="hasActions">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center">

        <ng-container *ngIf="editionMode">

          <button *ngIf="moneyAccount.actions.canDelete"
            type="button" class="btn-warning"
            (click)="onDeleteButtonClicked()">
            Eliminar
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *ngIf="moneyAccount.actions.canSuspend"
            type="button" class="btn"
            (click)="onSuspendButtonClicked()">
            Suspender
          </button>

          <button *ngIf="moneyAccount.actions.canSetPending"
            type="button" class="btn"
            (click)="onPendingButtonClicked()">
            Bloquear
          </button>

          <button *ngIf="moneyAccount.actions.canActivate"
            type="button" class="btn"
            (click)="onActivateButtonClicked()">
            Activar
          </button>

        </ng-container>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <ng-container *ngIf="editionMode">

          <button
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode && moneyAccount.actions.canEdit">

          <button
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
