<emp-ng-select #selectTypeahead
  [config]="{ bindByValue: config.bindByValue,
              virtualScroll: config.virtualScroll,
              clearable: config.clearable,
              multiple: config.multiple,
              minTermLength: config.minTermLength,
              typeToSearchText: 'Ingresar ' + config.minTermLength +' o más caracteres'}"
  [formControl]="formControl"
  [bindLabel]="bindLabel"
  [bindValue]="bindValue"
  [items]="searcherList$ | async"
  [typeahead]="searcherTerm$"
  [loading]="isLoading"
  [placeholder]="placeholder"
  [showError]="showError"
  (changes)="onChangedEvent($event)"
  (focus)="onTouched($event)"
  (clear)="onClear()"
  (unfocus)="onUnfocus($event)"
  (search)="onSearch($event)">

  <ng-template #labelTemplate let-item="item" *ngIf="tLabelTemplate">
    <ng-container *ngTemplateOutlet="tLabelTemplate; context: {item}"></ng-container>
  </ng-template>

  <ng-template #optionTemplate let-item="item">
    <ng-container *ngIf="tOptionTemplate">
      <ng-container *ngTemplateOutlet="tOptionTemplate; context: {item}"></ng-container>
    </ng-container>
    <ng-container *ngIf="!tOptionTemplate">
     {{bindLabel ? item[bindLabel] : item}}
    </ng-container>
  </ng-template>

</emp-ng-select>
