  <mat-divider *ngIf="!isSaved || hasActions"
    [style.margin]="'8px 0'">

  </mat-divider>

  <div class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button
          [class.btn]="!isReady"
          [class.btn-action]="isReady"
          (click)="onCreateButtonClicked()">
          Agregar pedido
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-start fx-items-center">

        <div class="fx-row-container fx-gap-half">

          <button *ngIf="editionMode && order.actions.can.update"
            type="button" class="btn-warning"
            (click)="onCancelButtonClicked()">
            Cancelar
          </button>

          <button *ngIf="!editionMode && order.actions.can.apply"
            type="button" class="btn"
            (click)="onApplyButtonClicked()">
            Aplicar
          </button>

          <button *ngIf="!editionMode && order.actions.can.authorize"
            type="button" class="btn"
            (click)="onAuthorizeButtonClicked()">
            Autorizar
          </button>

          <button *ngIf="!editionMode && order.actions.can.deauthorize"
            type="button" class="btn"
            (click)="onDeauthorizeButtonClicked()">
            Desautorizar
          </button>

        </div>

      </div>

      <div class="fx-item-none fx-end fx-items-center">

        <div class="fx-row-container fx-gap-half">

          <button *ngIf="!editionMode && order.actions.can.update"
            class="btn-action"
            (click)="onToggleEditionMode()">
            Editar
          </button>

          <ng-container *ngIf="editionMode">

            <button
              [class.btn]="!isReady"
              [class.btn-action]="isReady"
              (click)="onUpdateButtonClicked()">
              Guardar
            </button>

            <button
              class="btn-base uppercase"
              (click)="onToggleEditionMode()">
              Descartar Cambios
            </button>

          </ng-container>

        </div>

      </div>

    </ng-container>

  </div>


<emp-trade-sale-order-confirm-submit-modal *ngIf="!!confirmModalMode"
  [order]="order"
  [mode]="confirmModalMode"
  (saleOrderConfirmSubmitModalEvent)="onSaleOrderConfirmSubmitModalEvent($event)">

</emp-trade-sale-order-confirm-submit-modal>
