<emp-ng-spinner #spinner [visible]="isLoadingOrder">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary"
    [class.std-hide]="displayOrderTabbedView"
    [class.hidden]="displayOrderCreator">

    <emp-trade-orders-explorer
      [config]="salesConfig"
      [ordersData]="ordersData"
      [orderSelected]="orderSelected"
      [isLoading]="isLoading"
      [queryExecuted]="queryExecuted"
      (ordersExplorerEvent)="onOrdersExplorerEvent($event)">

    </emp-trade-orders-explorer>

  </div>

  <div class="primary priority" *ngIf="displayOrderCreator">

    <emp-trade-order-creator
      (orderCreatorEvent)="onOrderCreatorEvent($event)">

    </emp-trade-order-creator>

  </div>


  <div class="secondary priority" *ngIf="displayOrderTabbedView">

    <emp-trade-order-tabbed-view
      [config]="salesConfig"
      [order]="orderSelected"
      (orderTabbedViewEvent)="onOrderTabbedViewEvent($event)">

    </emp-trade-order-tabbed-view>

  </div>

</div>


<emp-ng-modal-window *ngIf="displayShippingEditor"
  [config]="{width: '960px', maxHeight: '95vh'}">

  <emp-trade-shipping-editor
    [orders]="operationCommandSeleted.orders"
    (shippingEditorEvent)="onShippingEditorEvent($event)">

  </emp-trade-shipping-editor>

</emp-ng-modal-window>
