
<mat-accordion class="menu-left">

  <ul *ngFor="let layout of layouts">

    <mat-expansion-panel *empNgHasPermission="layout.permission">

      <mat-expansion-panel-header>

        <mat-panel-title>

          <li *empNgHasPermission="layout.permission"
            [ngClass]="{'selected': isLayoutSelected(layout)}">

            <a class="menu-layout"> {{ layout.defaultTitle | uppercase }} </a>

          </li>

        </mat-panel-title>

      </mat-expansion-panel-header>


      <ul>

        <ng-container *ngFor="let view of layout.views">

          <li *empNgHasPermission="view.permission"
            routerLinkActive='selected'>

            <a class="menu-view" *ngIf="!view.disabled && !view.hidden"
              [routerLink]='view.url'>
              {{ view.title | uppercase }}
            </a>

          </li>

        </ng-container>

      </ul>

    </mat-expansion-panel>

  </ul>

</mat-accordion>
